<a href="https://colab.research.google.com/github/akash865/spark_101/blob/master/Spark101_CreateDataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spark 101 - Getting started with spark
<hr size="5"/>

> Notebook containing basic spark functions to get started with data analysis
- Author: Akash Chandra
- Comments: true
- Categories: [Python, PySpark, Pandas]
- Spark version: 3.0.3

## **1. Running Spark in Colab**

Running spark codes in colab need some library imports. Please follow notebook to get started.

### 1.1 Initialize Spark

The below line of codes initializes spark. This installs Apache Spark 3.0.0, Java 8, and Findspark, a library that makes it easy for Python to find Spark. You might also need to refer to correct version while installing. Here I am using 3.0.3. Any update in the library location might lead to an error, please refer to the link below to find the stable version. [Link to library](https://downloads.apache.org/spark/)

> Version: spark-3.0.3

In [ ]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://www-us.apache.org/dist/spark/spark-3.0.3/spark-3.0.3-bin-hadoop2.7.tgz
!tar xf spark-3.0.3-bin-hadoop2.7.tgz
!pip install -q findspark

In [ ]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop2.7"

In [ ]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()
# sqlContext = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
# Check if spark is initialized
df = spark.sql('''select 'spark' as hello''')
df.show()

+-----+
|hello|
+-----+
|spark|
+-----+

## **2. Ways to create dataframe**

If you are able to run the codes above, you are good to proceed. Let's start with ways to create dataframe in spark. We will also do some basic data manipulation. But let's start with importing useful libraries first. Then we will look at some useful dataframe methods.
<br>
<br>
Please note that there are many functions available in `pyspark.sql.function` which will be helpful for data analysis and descriptive analytics.

In [ ]:
# Import spark libraries
from pyspark.sql import Row, DataFrame
from pyspark.sql.types import StringType, StructType, StructField, IntegerType
from pyspark.sql.functions import col, expr, lit, substring, concat, concat_ws, when, coalesce
from pyspark.sql import functions as F # for more sql functions
from functools import reduce

### 2.1 View Spark dataframe

Use show or collect method as shown below to view dataframe in spark.


```
df.show()
OR 
df.collect()
```

### 2.2 Create Dataframe from list

In [ ]:
df = spark.createDataFrame(
    [
      ["2015-06-23", 5],
      ["2016-07-20", 7]
    ], # Data rows
    ["data_date", "months_to_add"] # Column names
)

df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

### 2.3 Create Dataframe from RDD

In [ ]:
# create RDD to load into spark dataframe
l =  [["2015-06-23", 5]
      ,["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)


row_rdd = rdd1.map(lambda x: Row(x[0], x[1]))
df = spark.createDataFrame(row_rdd, ['data_date', 'months_to_add'])

df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

### 2.4 Create Dataframe from RDD and schema

The `nullable` in the below syntax allows null values in the dataframe. If set to `False`, the dataframe would throw an error for empty values

In [ ]:
# create RDD to load into spark dataframe
l =  [["2015-06-23", 5]
      ,["2016-07-20", 7]] #List with data elements
rdd1 = spark.sparkContext.parallelize(l)


schema = StructType([    StructField("data_date", StringType(), True),
    StructField("months_to_add", IntegerType(), True)]) # Col, Type, Nullable


df = spark.createDataFrame(rdd1, schema)
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

### 2.5 Create Dataframe from lists

In [ ]:
# Building a simple dataframe:
schema = StructType([
    StructField("data_date", StringType(), True),
    StructField("months_to_add", IntegerType(), True)
    ]) # Col, Type, Nullable


column1 = ["2015-06-23", "2016-07-20"]
column2 = [5, 7]

# Dataframe:
df = spark.createDataFrame(list(zip(column1, column2)), schema=schema)
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

### 2.6 Create Dataframe from Pandas dataframe

In [ ]:
import pandas as pd
# df = spark.createDataFrame(pandas_df.toPandas()) # Creating pandas dataframe first

l =  [["2015-06-23", 5]
      ,["2016-07-20", 7]] #List with data elements
    
df = spark.createDataFrame(pd.DataFrame(l),['data_date','months_to_add'])
df.show()

+----------+-------------+
| data_date|months_to_add|
+----------+-------------+
|2015-06-23|            5|
|2016-07-20|            7|
+----------+-------------+

### 2.7 Create Dataframe from hive table

The below is useful when the tables are stored as hive tables which provides SQL-like access for data in HDFS.

```
input_table = <db_name>.<table_name>
df = spark.sql('''select data_date, months_to_add from {0}'''.format(input_table)
```

### 2.8 Create Dataframe from CSV or other text file

I am using data which is freely available from data.gov for FDIC failed bank list. You may download the same from link given or use any text file you have. Data link: https://catalog.data.gov/dataset/fdic-failed-bank-list.
<br>
<br>
Do note the arguments in read function. `header` is True for providing data with first line as header. `inferschema` is just a lazy way of using best possible data types. `delimiter` could be changed to tab (\t), or space(\\s) depending on input file.
<br>
<br>
I have also uploaded the same file to github. Feel free to use the link directly.

In [ ]:
# Importing offline files in colab
from google.colab import files
files.upload()

Saving banklist.csv to banklist.csv

{'banklist.csv': b'Bank Name,City,ST,CERT,Acquiring Institution,Closing Date\r\nThe First State Bank,Barboursville,WV,14361,"MVB Bank, Inc.",3-Apr-20\r\nEricson State Bank,Ericson,NE,18265,Farmers and Merchants Bank,14-Feb-20\r\nCity National Bank of New Jersey,Newark,NJ,21111,Industrial Bank,1-Nov-19\r\nResolute Bank,Maumee,OH,58317,Buckeye State Bank,25-Oct-19\r\nLouisa Community Bank,Louisa,KY,58112,Kentucky Farmers Bank Corporation,25-Oct-19\r\nThe Enloe State Bank,Cooper,TX,10716,"Legend Bank, N. A.",31-May-19\r\nWashington Federal Bank for Savings,Chicago,IL,30570,Royal Savings Bank,15-Dec-17\r\nThe Farmers and Merchants State Bank of Argonia,Argonia,KS,17719,Conway Bank,13-Oct-17\r\nFayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17\r\n"Guaranty Bank, (d/b/a BestBank in Georgia & Michigan)",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17\r\nFirst NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17\r\nProficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17\r\nSeaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17\r\nHarvest Community Bank,Pennsville,NJ,34951,First-Citizens Bank & Trust Company,13-Jan-17\r\nAllied Bank,Mulberry,AR,91,Today\'s Bank,23-Sep-16\r\nThe Woodbury Banking Company,Woodbury,GA,11297,United Bank,19-Aug-16\r\nFirst CornerStone Bank,King of Prussia,PA,35312,First-Citizens Bank & Trust Company,6-May-16\r\nTrust Company Bank,Memphis,TN,9956,The Bank of Fayette County,29-Apr-16\r\nNorth Milwaukee State Bank,Milwaukee,WI,20364,First-Citizens Bank & Trust Company,11-Mar-16\r\nHometown National Bank,Longview,WA,35156,Twin City Bank,2-Oct-15\r\nThe Bank of Georgia,Peachtree City,GA,35259,Fidelity Bank,2-Oct-15\r\nPremier Bank,Denver,CO,34112,"United Fidelity Bank, fsb",10-Jul-15\r\nEdgebrook Bank,Chicago,IL,57772,Republic Bank of Chicago,8-May-15\r\nDoral Bank,San Juan,PR,32102,Banco Popular de Puerto Rico,27-Feb-15\r\nCapitol City Bank & Trust Company,Atlanta,GA,33938,First-Citizens Bank & Trust Company,13-Feb-15\r\nHighland Community Bank,Chicago,IL,20290,"United Fidelity Bank, fsb",23-Jan-15\r\nFirst National Bank of Crestview,Crestview,FL,17557,First NBC Bank,16-Jan-15\r\nNorthern Star Bank,Mankato,MN,34983,BankVista,19-Dec-14\r\n"Frontier Bank, FSB D/B/A El Paseo Bank",Palm Desert,CA,34738,"Bank of Southern California, N.A.",7-Nov-14\r\nThe National Republic Bank of Chicago,Chicago,IL,916,State Bank of Texas,24-Oct-14\r\nNBRS Financial,Rising Sun,MD,4862,Howard Bank,17-Oct-14\r\n"GreenChoice Bank, fsb",Chicago,IL,28462,"Providence Bank, LLC",25-Jul-14\r\nEastside Commercial Bank,Conyers,GA,58125,Community & Southern Bank,18-Jul-14\r\nThe Freedom State Bank,Freedom,OK,12483,Alva State Bank & Trust Company,27-Jun-14\r\nValley Bank,Fort Lauderdale,FL,21793,"Landmark Bank, National Association",20-Jun-14\r\nValley Bank,Moline,IL,10450,Great Southern Bank,20-Jun-14\r\nSlavie Federal Savings Bank,Bel Air,MD,32368,"Bay Bank, FSB",30-May-14\r\nColumbia Savings Bank,Cincinnati,OH,32284,"United Fidelity Bank, fsb",23-May-14\r\nAztecAmerica Bank,Berwyn,IL,57866,Republic Bank of Chicago,16-May-14\r\nAllendale County Bank,Fairfax,SC,15062,Palmetto State Bank,25-Apr-14\r\nVantage Point Bank,Horsham,PA,58531,First Choice Bank,28-Feb-14\r\n"Millennium Bank, National Association",Sterling,VA,35096,WashingtonFirst Bank,28-Feb-14\r\nSyringa Bank,Boise,ID,34296,Sunwest Bank,31-Jan-14\r\nThe Bank of Union,El Reno,OK,17967,BancFirst,24-Jan-14\r\nDuPage National Bank,West Chicago,IL,5732,Republic Bank of Chicago,17-Jan-14\r\n"Texas Community Bank, National Association",The Woodlands,TX,57431,"Spirit of Texas Bank, SSB",13-Dec-13\r\nBank of Jackson County,Graceville,FL,14794,First Federal Bank of Florida,30-Oct-13\r\nFirst National Bank also operating as The National Bank of El Paso,Edinburg,TX,14318,PlainsCapital Bank,13-Sep-13\r\nThe Community\'s Bank,Bridgeport,CT,57041,No Acquirer,13-Sep-13\r\nSunrise Bank of Arizona,Phoenix,AZ,34707,"First Fidelity Bank, National Association",23-Aug-13\r\nCommunity South Bank,Parsons,TN,19849,"CB&S Bank, Inc.",23-Aug-13\r\nBank of Wausau,Wausau,WI,35016,Nicolet National Bank,9-Aug-13\r\nFirst Community Bank of Southwest Florida (also operating as Community Bank of Cape Coral),Fort Myers,FL,34943,C1 Bank,2-Aug-13\r\nMountain National Bank,Sevierville,TN,34789,"First Tennessee Bank, National Association",7-Jun-13\r\n1st Commerce Bank,North Las Vegas,NV,58358,Plaza Bank,6-Jun-13\r\nBanks of Wisconsin d/b/a Bank of Kenosha,Kenosha,WI,35386,"North Shore Bank, FSB",31-May-13\r\nCentral Arizona Bank,Scottsdale,AZ,34527,Western State Bank,14-May-13\r\nSunrise Bank,Valdosta,GA,58185,Synovus Bank,10-May-13\r\nPisgah Community Bank,Asheville,NC,58701,"Capital Bank, N.A.",10-May-13\r\nDouglas County Bank,Douglasville,GA,21649,Hamilton State Bank,26-Apr-13\r\nParkway Bank,Lenoir,NC,57158,"CertusBank, National Association",26-Apr-13\r\nChipola Community Bank,Marianna,FL,58034,First Federal Bank of Florida,19-Apr-13\r\nHeritage Bank of North Florida,Orange Park,FL,26680,FirstAtlantic Bank,19-Apr-13\r\nFirst Federal Bank,Lexington,KY,29594,Your Community Bank,19-Apr-13\r\nGold Canyon Bank,Gold Canyon,AZ,58066,"First Scottsdale Bank, National Association",5-Apr-13\r\nFrontier Bank,LaGrange,GA,16431,HeritageBank of the South,8-Mar-13\r\nCovenant Bank,Chicago,IL,22476,Liberty Bank and Trust Company,15-Feb-13\r\n1st Regents Bank,Andover,MN,57157,First Minnesota Bank,18-Jan-13\r\nWestside Community Bank,University Place,WA,33997,Sunwest Bank,11-Jan-13\r\nCommunity Bank of the Ozarks,Sunrise Beach,MO,27331,Bank of Sullivan,14-Dec-12\r\nHometown Community Bank,Braselton,GA,57928,"CertusBank, National Association",16-Nov-12\r\nCitizens First National Bank,Princeton,IL,3731,Heartland Bank and Trust Company,2-Nov-12\r\nHeritage Bank of Florida,Lutz,FL,35009,Centennial Bank,2-Nov-12\r\nNOVA Bank,Berwyn,PA,27148,No Acquirer,26-Oct-12\r\nExcel Bank,Sedalia,MO,19189,Simmons First National Bank,19-Oct-12\r\nFirst East Side Savings Bank,Tamarac,FL,28144,Stearns Bank N.A.,19-Oct-12\r\nGulfSouth Private Bank,Destin,FL,58073,SmartBank,19-Oct-12\r\nFirst United Bank,Crete,IL,20685,"Old Plank Trail Community Bank, National Association",28-Sep-12\r\nTruman Bank,St. Louis,MO,27316,Simmons First National Bank,14-Sep-12\r\nFirst Commercial Bank,Bloomington,MN,35246,Republic Bank & Trust Company,7-Sep-12\r\nWaukegan Savings Bank,Waukegan,IL,28243,First Midwest Bank,3-Aug-12\r\nJasper Banking Company,Jasper,GA,16240,Stearns Bank N.A.,27-Jul-12\r\nSecond Federal Savings and Loan Association of Chicago,Chicago,IL,27986,Hinsdale Bank & Trust Company,20-Jul-12\r\nHeartland Bank,Leawood,KS,1361,Metcalf Bank,20-Jul-12\r\nFirst Cherokee State Bank,Woodstock,GA,32711,Community & Southern Bank,20-Jul-12\r\nGeorgia Trust Bank,Buford,GA,57847,Community & Southern Bank,20-Jul-12\r\nThe Royal Palm Bank of Florida,Naples,FL,57096,First National Bank of the Gulf Coast,20-Jul-12\r\nGlasgow Savings Bank,Glasgow,MO,1056,Regional Missouri Bank,13-Jul-12\r\nMontgomery Bank & Trust,Ailey,GA,19498,Ameris Bank,6-Jul-12\r\nThe Farmers Bank of Lynchburg,Lynchburg,TN,1690,Clayton Bank and Trust,15-Jun-12\r\nSecurity Exchange Bank,Marietta,GA,35299,Fidelity Bank,15-Jun-12\r\nPutnam State Bank,Palatka,FL,27405,Harbor Community Bank,15-Jun-12\r\nWaccamaw Bank,Whiteville,NC,34515,First Community Bank,8-Jun-12\r\nFarmers\' and Traders\' State Bank,Shabbona,IL,9257,First State Bank,8-Jun-12\r\nCarolina Federal Savings Bank,Charleston,SC,35372,Bank of North Carolina,8-Jun-12\r\nFirst Capital Bank,Kingfisher,OK,416,F & M Bank,8-Jun-12\r\n"Alabama Trust Bank, National Association",Sylacauga,AL,35224,Southern States Bank,18-May-12\r\n"Security Bank, National Association",North Lauderdale,FL,23156,Banesco USA,4-May-12\r\nPalm Desert National Bank,Palm Desert,CA,23632,Pacific Premier Bank,27-Apr-12\r\nPlantation Federal Bank,Pawleys Island,SC,32503,First Federal Bank,27-Apr-12\r\n"Inter Savings Bank, fsb D/B/A InterBank, fsb",Maple Grove,MN,31495,Great Southern Bank,27-Apr-12\r\nHarVest Bank of Maryland,Gaithersburg,MD,57766,Sonabank,27-Apr-12\r\nBank of the Eastern Shore,Cambridge,MD,26759,No Acquirer,27-Apr-12\r\n"Fort Lee Federal Savings Bank, FSB",Fort Lee,NJ,35527,Alma Bank,20-Apr-12\r\nFidelity Bank,Dearborn,MI,33883,The Huntington National Bank,30-Mar-12\r\nPremier Bank,Wilmette,IL,35419,International Bank of Chicago,23-Mar-12\r\nCovenant Bank & Trust,Rock Spring,GA,58068,"Stearns Bank, N.A.",23-Mar-12\r\nNew City Bank,Chicago,IL,57597,No Acquirer,9-Mar-12\r\nGlobal Commerce Bank,Doraville,GA,34046,Metro City Bank,2-Mar-12\r\nHome Savings of America,Little Falls,MN,29178,No Acquirer,24-Feb-12\r\nCentral Bank of Georgia,Ellaville,GA,5687,Ameris Bank,24-Feb-12\r\nSCB Bank,Shelbyville,IN,29761,"First Merchants Bank, National Association",10-Feb-12\r\nCharter National Bank and Trust,Hoffman Estates,IL,23187,"Barrington Bank & Trust Company, National Association",10-Feb-12\r\nBankEast,Knoxville,TN,19869,"U.S. Bank, N.A.",27-Jan-12\r\nPatriot Bank Minnesota,Forest Lake,MN,34823,First Resource Bank,27-Jan-12\r\nTennessee Commerce Bank,Franklin,TN,35296,Republic Bank & Trust Company,27-Jan-12\r\nFirst Guaranty Bank and Trust Company of Jacksonville,Jacksonville,FL,16579,"CenterState Bank of Florida, N.A.",27-Jan-12\r\nAmerican Eagle Savings Bank,Boothwyn,PA,31581,"Capital Bank, N.A.",20-Jan-12\r\nThe First State Bank,Stockbridge,GA,19252,Hamilton State Bank,20-Jan-12\r\nCentral Florida State Bank,Belleview,FL,57186,"CenterState Bank of Florida, N.A.",20-Jan-12\r\nWestern National Bank,Phoenix,AZ,57917,Washington Federal,16-Dec-11\r\nPremier Community Bank of the Emerald Coast,Crestview,FL,58343,Summit Bank,16-Dec-11\r\nCentral Progressive Bank,Lacombe,LA,19657,First NBC Bank,18-Nov-11\r\nPolk County Bank,Johnston,IA,14194,Grinnell State Bank,18-Nov-11\r\nCommunity Bank of Rockmart,Rockmart,GA,57860,Century Bank of Georgia,10-Nov-11\r\nSunFirst Bank,Saint George,UT,57087,Cache Valley Bank,4-Nov-11\r\n"Mid City Bank, Inc.",Omaha,NE,19397,Premier Bank,4-Nov-11\r\nAll American Bank,Des Plaines,IL,57759,International Bank of Chicago,28-Oct-11\r\nCommunity Banks of Colorado,Greenwood Village,CO,21132,"Bank Midwest, N.A.",21-Oct-11\r\nCommunity Capital Bank,Jonesboro,GA,57036,State Bank and Trust Company,21-Oct-11\r\nDecatur First Bank,Decatur,GA,34392,Fidelity Bank,21-Oct-11\r\nOld Harbor Bank,Clearwater,FL,57537,1st United Bank,21-Oct-11\r\nCountry Bank,Aledo,IL,35395,Blackhawk Bank & Trust,14-Oct-11\r\nFirst State Bank,Cranford,NJ,58046,Northfield Bank,14-Oct-11\r\n"Blue Ridge Savings Bank, Inc.",Asheville,NC,32347,Bank of North Carolina,14-Oct-11\r\nPiedmont Community Bank,Gray,GA,57256,State Bank and Trust Company,14-Oct-11\r\nSun Security Bank,Ellington,MO,20115,Great Southern Bank,7-Oct-11\r\nThe RiverBank,Wyoming,MN,10216,Central Bank,7-Oct-11\r\nFirst International Bank,Plano,TX,33513,American First National Bank,30-Sep-11\r\nCitizens Bank of Northern California,Nevada City,CA,33983,Tri Counties Bank,23-Sep-11\r\nBank of the Commonwealth,Norfolk,VA,20408,Southern Bank and Trust Company,23-Sep-11\r\nThe First National Bank of Florida,Milton,FL,25155,CharterBank,9-Sep-11\r\nCreekSide Bank,Woodstock,GA,58226,Georgia Commerce Bank,2-Sep-11\r\nPatriot Bank of Georgia,Cumming,GA,58273,Georgia Commerce Bank,2-Sep-11\r\nFirst Choice Bank,Geneva,IL,57212,Inland Bank & Trust,19-Aug-11\r\nFirst Southern National Bank,Statesboro,GA,57239,Heritage Bank of the South,19-Aug-11\r\nLydian Private Bank,Palm Beach,FL,35356,"Sabadell United Bank, N.A.",19-Aug-11\r\nPublic Savings Bank,Huntingdon Valley,PA,34130,"Capital Bank, N.A.",18-Aug-11\r\nThe First National Bank of Olathe,Olathe,KS,4744,Enterprise Bank & Trust,12-Aug-11\r\nBank of Whitman,Colfax,WA,22528,Columbia State Bank,5-Aug-11\r\nBank of Shorewood,Shorewood,IL,22637,Heartland Bank and Trust Company,5-Aug-11\r\nIntegra Bank National Association,Evansville,IN,4392,Old National Bank,29-Jul-11\r\n"BankMeridian, N.A.",Columbia,SC,58222,SCBT National Association,29-Jul-11\r\nVirginia Business Bank,Richmond,VA,58283,Xenith Bank,29-Jul-11\r\nBank of Choice,Greeley,CO,2994,"Bank Midwest, N.A.",22-Jul-11\r\nLandMark Bank of Florida,Sarasota,FL,35244,American Momentum Bank,22-Jul-11\r\nSouthshore Community Bank,Apollo Beach,FL,58056,American Momentum Bank,22-Jul-11\r\nSummit Bank,Prescott,AZ,57442,The Foothills Bank,15-Jul-11\r\nFirst Peoples Bank,Port St. Lucie,FL,34870,"Premier American Bank, N.A.",15-Jul-11\r\nHigh Trust Bank,Stockbridge,GA,19554,Ameris Bank,15-Jul-11\r\nOne Georgia Bank,Atlanta,GA,58238,Ameris Bank,15-Jul-11\r\nSignature Bank,Windsor,CO,57835,Points West Community Bank,8-Jul-11\r\nColorado Capital Bank,Castle Rock,CO,34522,First-Citizens Bank & Trust Company,8-Jul-11\r\nFirst Chicago Bank & Trust,Chicago,IL,27935,Northbrook Bank & Trust Company,8-Jul-11\r\nMountain Heritage Bank,Clayton,GA,57593,First American Bank and Trust Company,24-Jun-11\r\nFirst Commercial Bank of Tampa Bay,Tampa,FL,27583,Stonegate Bank,17-Jun-11\r\nMcIntosh State Bank,Jackson,GA,19237,Hamilton State Bank,17-Jun-11\r\nAtlantic Bank and Trust,Charleston,SC,58420,"First Citizens Bank and Trust Company, Inc.",3-Jun-11\r\nFirst Heritage Bank,Snohomish,WA,23626,Columbia State Bank,27-May-11\r\nSummit Bank,Burlington,WA,513,Columbia State Bank,20-May-11\r\nFirst Georgia Banking Company,Franklin,GA,57647,"CertusBank, National Association",20-May-11\r\nAtlantic Southern Bank,Macon,GA,57213,"CertusBank, National Association",20-May-11\r\nCoastal Bank,Cocoa Beach,FL,34898,"Florida Community Bank, a division of Premier American Bank, N.A.",6-May-11\r\nCommunity Central Bank,Mount Clemens,MI,34234,Talmer Bank & Trust,29-Apr-11\r\nThe Park Avenue Bank,Valdosta,GA,19797,Bank of the Ozarks,29-Apr-11\r\nFirst Choice Community Bank,Dallas,GA,58539,Bank of the Ozarks,29-Apr-11\r\nCortez Community Bank,Brooksville,FL,57625,"Florida Community Bank, a division of Premier American Bank, N.A.",29-Apr-11\r\nFirst National Bank of Central Florida,Winter Park,FL,26297,"Florida Community Bank, a division of Premier American Bank, N.A.",29-Apr-11\r\nHeritage Banking Group,Carthage,MS,14273,Trustmark National Bank,15-Apr-11\r\nRosemount National Bank,Rosemount,MN,24099,Central Bank,15-Apr-11\r\nSuperior Bank,Birmingham,AL,17750,"Superior Bank, National Association",15-Apr-11\r\nNexity Bank,Birmingham,AL,19794,AloStar Bank of Commerce,15-Apr-11\r\nNew Horizons Bank,East Ellijay,GA,57705,Citizens South Bank,15-Apr-11\r\nBartow County Bank,Cartersville,GA,21495,Hamilton State Bank,15-Apr-11\r\nNevada Commerce Bank,Las Vegas,NV,35418,City National Bank,8-Apr-11\r\nWestern Springs National Bank and Trust,Western Springs,IL,10086,Heartland Bank and Trust Company,8-Apr-11\r\nThe Bank of Commerce,Wood Dale,IL,34292,Advantage National Bank Group,25-Mar-11\r\nLegacy Bank,Milwaukee,WI,34818,Seaway Bank and Trust Company,11-Mar-11\r\nFirst National Bank of Davis,Davis,OK,4077,The Pauls Valley National Bank,11-Mar-11\r\nValley Community Bank,St. Charles,IL,34187,First State Bank,25-Feb-11\r\n"San Luis Trust Bank, FSB",San Luis Obispo,CA,34783,First California Bank,18-Feb-11\r\nCharter Oak Bank,Napa,CA,57855,Bank of Marin,18-Feb-11\r\nCitizens Bank of Effingham,Springfield,GA,34601,Heritage Bank of the South,18-Feb-11\r\nHabersham Bank,Clarkesville,GA,151,SCBT National Association,18-Feb-11\r\nCanyon National Bank,Palm Springs,CA,34692,Pacific Premier Bank,11-Feb-11\r\nBadger State Bank,Cassville,WI,13272,Royal Bank,11-Feb-11\r\nPeoples State Bank,Hamtramck,MI,14939,First Michigan Bank,11-Feb-11\r\nSunshine State Community Bank,Port Orange,FL,35478,"Premier American Bank, N.A.",11-Feb-11\r\nCommunity First Bank Chicago,Chicago,IL,57948,Northbrook Bank & Trust Company,4-Feb-11\r\nNorth Georgia Bank,Watkinsville,GA,35242,BankSouth,4-Feb-11\r\nAmerican Trust Bank,Roswell,GA,57432,Renasant Bank,4-Feb-11\r\nFirst Community Bank,Taos,NM,12261,"U.S. Bank, N.A.",28-Jan-11\r\nFirsTier Bank,Louisville,CO,57646,No Acquirer,28-Jan-11\r\nEvergreen State Bank,Stoughton,WI,5328,McFarland State Bank,28-Jan-11\r\nThe First State Bank,Camargo,OK,2303,Bank 7,28-Jan-11\r\nUnited Western Bank,Denver,CO,31293,First-Citizens Bank & Trust Company,21-Jan-11\r\nThe Bank of Asheville,Asheville,NC,34516,First Bank,21-Jan-11\r\nCommunitySouth Bank & Trust,Easley,SC,57868,"CertusBank, National Association",21-Jan-11\r\nEnterprise Banking Company,McDonough,GA,19758,No Acquirer,21-Jan-11\r\nOglethorpe Bank,Brunswick,GA,57440,Bank of the Ozarks,14-Jan-11\r\nLegacy Bank,Scottsdale,AZ,57820,Enterprise Bank & Trust,7-Jan-11\r\nFirst Commercial Bank of Florida,Orlando,FL,34965,First Southern Bank,7-Jan-11\r\nCommunity National Bank,Lino Lakes,MN,23306,Farmers & Merchants Savings Bank,17-Dec-10\r\nFirst Southern Bank,Batesville,AR,58052,Southern Bank,17-Dec-10\r\n"United Americas Bank, N.A.",Atlanta,GA,35065,State Bank and Trust Company,17-Dec-10\r\n"Appalachian Community Bank, FSB",McCaysville,GA,58495,Peoples Bank of East Tennessee,17-Dec-10\r\nChestatee State Bank,Dawsonville,GA,34578,Bank of the Ozarks,17-Dec-10\r\n"The Bank of Miami,N.A.",Coral Gables,FL,19040,1st United Bank,17-Dec-10\r\nEarthstar Bank,Southampton,PA,35561,Polonia Bank,10-Dec-10\r\nParamount Bank,Farmington Hills,MI,34673,Level One Bank,10-Dec-10\r\nFirst Banking Center,Burlington,WI,5287,First Michigan Bank,19-Nov-10\r\nAllegiance Bank of North America,Bala Cynwyd,PA,35078,VIST Bank,19-Nov-10\r\nGulf State Community Bank,Carrabelle,FL,20340,Centennial Bank,19-Nov-10\r\nCopper Star Bank,Scottsdale,AZ,35463,"Stearns Bank, N.A.",12-Nov-10\r\nDarby Bank & Trust Co.,Vidalia,GA,14580,Ameris Bank,12-Nov-10\r\nTifton Banking Company,Tifton,GA,57831,Ameris Bank,12-Nov-10\r\nFirst Vietnamese American Bank,Westminster,CA,57885,Grandpoint Bank,5-Nov-10\r\nPierce Commercial Bank,Tacoma,WA,34411,Heritage Bank,5-Nov-10\r\nWestern Commercial Bank,Woodland Hills,CA,58087,First California Bank,5-Nov-10\r\nK Bank,Randallstown,MD,31263,Manufacturers and Traders Trust Company (M&T Bank),5-Nov-10\r\n"First Arizona Savings, A FSB",Scottsdale,AZ,32582,No Acquirer,22-Oct-10\r\nHillcrest Bank,Overland Park,KS,22173,"Hillcrest Bank, N.A.",22-Oct-10\r\nFirst Suburban National Bank,Maywood,IL,16089,Seaway Bank and Trust Company,22-Oct-10\r\nThe First National Bank of Barnesville,Barnesville,GA,2119,United Bank,22-Oct-10\r\nThe Gordon Bank,Gordon,GA,33904,Morris Bank,22-Oct-10\r\nProgress Bank of Florida,Tampa,FL,32251,Bay Cities Bank,22-Oct-10\r\nFirst Bank of Jacksonville,Jacksonville,FL,27573,Ameris Bank,22-Oct-10\r\nPremier Bank,Jefferson City,MO,34016,Providence Bank,15-Oct-10\r\nWestBridge Bank and Trust Company,Chesterfield,MO,58205,Midland States Bank,15-Oct-10\r\n"Security Savings Bank, F.S.B.",Olathe,KS,30898,Simmons First National Bank,15-Oct-10\r\nShoreline Bank,Shoreline,WA,35250,GBC International Bank,1-Oct-10\r\nWakulla Bank,Crawfordville,FL,21777,Centennial Bank,1-Oct-10\r\nNorth County Bank,Arlington,WA,35053,Whidbey Island Bank,24-Sep-10\r\nHaven Trust Bank Florida,Ponte Vedra Beach,FL,58308,First Southern Bank,24-Sep-10\r\nMaritime Savings Bank,West Allis,WI,28612,"North Shore Bank, FSB",17-Sep-10\r\nBramble Savings Bank,Milford,OH,27808,Foundation Bank,17-Sep-10\r\nThe Peoples Bank,Winder,GA,182,Community & Southern Bank,17-Sep-10\r\nFirst Commerce Community Bank,Douglasville,GA,57448,Community & Southern Bank,17-Sep-10\r\nBank of Ellijay,Ellijay,GA,58197,Community & Southern Bank,17-Sep-10\r\nISN Bank,Cherry Hill,NJ,57107,Customers Bank,17-Sep-10\r\nHorizon Bank,Bradenton,FL,35061,Bank of the Ozarks,10-Sep-10\r\nSonoma Valley Bank,Sonoma,CA,27259,Westamerica Bank,20-Aug-10\r\nLos Padres Bank,Solvang,CA,32165,Pacific Western Bank,20-Aug-10\r\nButte Community Bank,Chico,CA,33219,"Rabobank, N.A.",20-Aug-10\r\nPacific State Bank,Stockton,CA,27090,"Rabobank, N.A.",20-Aug-10\r\nShoreBank,Chicago,IL,15640,Urban Partnership Bank,20-Aug-10\r\nImperial Savings and Loan Associa

In [ ]:
# list all files in the temp directory
! ls

banklist.csv  spark-3.0.3-bin-hadoop2.7
sample_data   spark-3.0.3-bin-hadoop2.7.tgz

In [ ]:
# inferschema loads the closest datatype automatically from the data
# header option reads first line as columns, else default value

df = spark.read.options(header="true", inferschema = "true", delimiter=",").csv('banklist.csv')

print('df.count  :', df.count())
print('df.col ct :', len(df.columns))
print('df.columns:', df.columns)

df.count  : 561
df.col ct : 6
df.columns: ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']

In [ ]:
# Using file uploaded to github
from pyspark import SparkFiles

url = "https://raw.githubusercontent.com/akash865/spark_101/master/banklist.csv"
spark.sparkContext.addFile(url)

df = spark.read.options(header="true", inferschema = "true", delimiter=",").csv("file://"+SparkFiles.get("banklist.csv"))

print('df.count  :', df.count())
print('df.col ct :', len(df.columns))
print('df.columns:', df.columns)

df.count  : 561
df.col ct : 6
df.columns: ['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution', 'Closing Date']